In [1]:
import pandas as pd

In [14]:
dataset = pd.read_csv(r"/Users/darshan/Documents/ML/Data/loan_application_data.csv")
dataset.head(3)

,Application_ID,Status,Loan_Type,Employment_Status,Annual_Income,Loan_Amount,Loan_Duration_Months,Credit_Score,Gender,Married,Dependents,Education
0,AID-00001,Rejected,NaN,NaN,28518.0,NaN,NaN,834.0,NaN,Yes,1,Graduate
1,AID-00002,Pending,Home,NaN,NaN,49365.0,36.0,647.0,Female,No,1,Graduate
2,AID-00003,Pending,Home,Self-Employed,22306.0,5608.0,NaN,357.0,NaN,No,2,Graduate

In [19]:
dataset.isnull().sum()

Application_ID            0
Status                  251
Loan_Type               200
Employment_Status       283
Annual_Income           103
Loan_Amount             126
Loan_Duration_Months    174
Credit_Score            181
Gender                    0
Married                   0
Dependents              165
Education               347
dtype: int64

In [18]:
dataset['Married'].fillna(dataset['Married'].mode()[0],inplace=True)

In [25]:
en_data = dataset[['Gender','Married']]
pd.get_dummies(en_data)

     Gender_Female  Gender_Male  Married_No  Married_Yes
0             True        False       False         True
1             True        False        True        False
2             True        False        True        False
3            False         True        True        False
4             True        False       False         True
..             ...          ...         ...          ...
995          False         True        True        False
996           True        False        True        False
997           True        False       False         True
998          False         True        True        False
999           True        False        True        False

[1000 rows x 4 columns]

In [42]:
from sklearn.preprocessing import OneHotEncoder

In [51]:
ohe = OneHotEncoder(drop="first")
ar = ohe.fit_transform(en_data).toarray()
pd.DataFrame(ar,columns=['Gender_Female',	'Gender_Male',	'Married_No',	'Married_Yes'])

ValueError: Shape of passed values is (1000, 2), indices imply (1000, 4)